*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: 'Poppins' , sans-serif;
}

 .fa-star{
	color: #ff523b;
}
.navbar{
	display: flex;
	align-items: center;
	padding: 20px;

}
nav{
	flex:1;
	text-align: right;
	padding: 0 20px;
}
.navbar nav ul{
	list-style: none;
	display: inline-block;
}
.navbar nav ul li{
	display: inline-block;
	margin: 20px;
}
.navbar nav ul li a{
	text-decoration: none;
	color: #555;
}
i{
	color: #555;
}

.container{
	max-width: 1300px;
	padding: 0px 25px;
	margin: auto
}
#header{
	background: radial-gradient(#fff, #ffd6d6);
}
.row{
	display: flex;
	flex-wrap: wrap;
	
	align-items: center;
	justify-content: space-around;
}
.col-2{
	flex-basis: 50%;
	min-width:300px;
}
.col-2 img{
	width: 100%;
	padding: 50px 0;
}
.col-2 h1{
	font-size: 50px;
}
.col-2 p{
	margin-bottom: 5px;
	margin-top: 5px;
}
.btn{
	text-decoration: none;
	display: inline-block;
	/*background: transparent;*/
	background-color: #ff523b;
	color: #fff;
	border-radius: 25px;
	padding: 5px 20px;
	margin-top: 20px;
	transition: background 0.5s;
}
.btn:hover{
	background-color: #563434;
}

.title{
	
	text-align: center;
	margin: 0 auto 80px;
	position: relative;
	line-height: 60px;
	color: #555;
	position: relative;

}
.title::after{

	content: '';
	position: absolute;
	background: #ff523b;
	width: 80px;
	height: 4px;
	border-radius: 4px;
	left: 475px;
	top: 45px;

}
#featured{
	margin-top: 75px ;
	
}
.col-3{
	flex-basis: 30%;
	min-width: 250px;
	
	margin: 0 0px;
	
	margin-bottom:30px;
}
.col-3 img{
	width: 100%;
	


}
.small-container{
	max-width: 1080px;
	padding: 0 25px;
	margin: auto;
}
.col-4{
	flex-basis: 25%;
	min-width: 200px;
	margin-bottom: 20px;
	padding: 10px;
	transition: transform 0.5s;
}
.col-4:hover{
	transform: translateY(-5px);
}
.col-4 img{
	width: 100%;
}
h4{
	font-weight: normal;
	color: #555;
}
.col-4 p{
	font-size: 12px;
}
.offers{
	background: radial-gradient(#fff, #ffd6d6);

}
.offers .row img{
	width: 400px;
}
.testimonials{
	padding:50px 0; 
}
.testimonials .row img{
	border-radius: 100%;
	width: 75px;
}
.testimonials .row {
	text-align: center;
	font-weight: normal;
	line-height:40px;
	font-size:13px;
	margin:20px;
}
.testimonials .row .fa-quote-left{
	font-size: 40px;
	color: #000;}



	.testimonials .row .col-3{
		box-shadow: 0 0 20px 0px rgba(0,0,0,0.1) ;
		padding: 40px ;
		transition: transform 0.5s;
		

}
.testimonials .row .col-3:hover{
	transform: translateY(-4px);
}

.brands{
	margin-bottom: 75px;

}
.col-5{
	width: 160px;
	filter: grayscale(0);

}
.col-5 img{
	width: 100%;
	cursor: pointer;
}


.col-5 img:hover{
	filter: grayscale(50%);
}


.footer{
	background: #000;
	color: #8a8a8a;
	font-size: 14px;
	padding:20px 0 30px;
}

.footer p{
	color: #8a8a8a;
}
.footer h3{
	color: #fff;
	margin-bottom: 15px;
}
.footer .footer-col-2 img{
	width: 180px;
	margin-bottom: 20px;
}

.footer ul{
	list-style: none;
}


.footer-col-1, .footer-col-2, .footer-col-3, .footer-col-4{
	min-width: 250px;
	margin-bottom: 20px;
}
.footer-col-1{
	flex-basis: 30%;
}
.footer-col-2{
	flex:1;
	text-align: center;
}

.footer-col-3, .footer-col-4{
padding-left: 40px;
text-align: center;

}
.footer-col-4 a{
	text-decoration: none;

}

.footer-col-4 ul{
	display: inline-block;

}
.footer-col-4 ul li{
	display: inline-block;
	margin:10px 20px;

}
.footer-col-4 ul li i{
font-size: 20px;
color: #fff;
}
.footer button{
	padding: 7px 12px;
	background: transparent;
	color: #fff;
	border: 1px solid #fff;
	margin-top: 30px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	
	font-size: 15px;
}

